@using CMSWeb.ViewModels.ProductTypeViewModel;
@model CreateInformationProperty;
<div class="content-wrapper">
    <div style="width: 1200px; margin: auto;" class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Nhập thông tin thông số kỹ thuật  pr</h4>
                <form class="forms-sample" id="form-add-properties" method="post" enctype="multipart/form-data" action="/AddProperty">
                   
                    <div class="form-group">
                        <label for="exampleInputUsername1">Mã thông số</label>
                        <input  class="form-control" readonly  asp-for="@Model.SpecificationId" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên thuộc tính</label>
                        <input class="form-control" asp-for="@Model.InformationPropertyName" />
                        <div class="valid-feedback">
                            Chính xác!
                        </div>
                        <div class="invalid-feedback">
                           Không được bỏ trống
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Đơn vị</label>
                        <input asp-for="@Model.Description" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-gradient-primary me-2">Thêm mới</button>
                    <button type="reset" class="btn btn-light">Làm mới</button>
                </form>
                <br /> 
                        <a class="btn btn-outline-danger" href="/FormSpecification?TypeId=@Model.typeId">Kết thúc nhập</a>
                         <a class="btn btn-outline-danger"href="/ShowTypeDetail?typeid=@Model.typeId">Xem chi tiết</a>
             </div>
        </div>
    </div>
</div>