@using ModelProject.ViewModel;
@model CreateProductPecification;
<div class="content-wrapper">
    <div style="width: 1200px; margin: auto;" class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4></h4>
                <h4 class="card-title">Nhập thông số kỹ thuật SP</h4>

                @using (Html.BeginForm("AddSpecification", "type", FormMethod.Post, new { @class = "forms-sample", id = "form-add-Specification" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.typeId)

                    <div class="form-group">
                        <label>Tên thông số</label>
                        @Html.TextBoxFor(m => m.ProductPecificationName, new{@class="form-control SpecificationName"})
                        <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            không được bỏ trống
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Mô tả</label>
                        @Html.TextBoxFor(m => m.ProductPecificationDrecription, new{@class="form-control"})
                    </div>
                    <button type="submit" id="btn-add-Type" class="btn btn-gradient-primary me-2">Thêm mới</button>
                    <button type="reset" class="btn btn-light">Làm mới</button>
                }





                <br />
                <a class="btn btn-outline-danger" href="/Formtype">Kết thúc nhập</a>
            </div>
            <br />

        </div>
    </div>
</div>
