@using ModelProject.ViewModel;
@model CreateProductType

<div class="content-wrapper">
    <div style="width: 1200px; margin: auto;" class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @{
                    switch (Model.message)
                    {
                         case true: <div class="alert alert-danger">Thêm thất bại: mã ngành hàng đã tồn tại</div> break;
                        default: break;
                    }   
                }

                <h4 class="card-title">Nhập ngành hàng mới</h4>
                @using(Html.BeginForm("AddType","Type", FormMethod.Post,new {@class="forms-sample", id="form-add-type" }))
                {
                    
                    <div class="form-group">
                        <label>Mã ngành hàng</label>
                        @Html.TextBoxFor(m => m.typeId, new {@class="form-control TypeId"})
                        <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Mã: a-z, A-Z, 0-9
                        </div>
                    </div>
                     <div class="form-group">
                        <label>Tên ngành hàng</label>
                        @Html.TextBoxFor(m => m.typeName, new{@class="form-control TypeName"})
                        <div class="valid-feedback">
                           Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Không được bỏ trống
                        </div>
                    </div>
                    <button id="btn-add-Type" class="btn btn-gradient-primary me-2">Thêm mới</button>
                    <button type="reset" class="btn btn-light">Làm mới</button>
                }


                

            </div>
        </div>
    </div>
</div>