@using DAL.Models;
@using CMSWeb.ViewModels;
@using CMSWeb.ViewModels.ProductTypeViewModel;
@model CreateProductType

<div class="content-wrapper">
    <div style="width: 1200px; margin: auto;" class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @{
                    switch (Model.message)
                    {
                         case true: <div class="alert alert-danger">Thêm thất bại: mã ngành hàng đã tồn tại</div> break;
                        default: break;
                    }   
                }

                <h4 class="card-title">Nhập ngành hàng mới</h4>

                <form class="forms-sample" asp-action="AddBrands" asp-controller="Type" asp-action="AddType" method="post" id="form-add-type">

                    <div class="form-group">
                        <label asp-for="@Model.typeId" >Mã ngành hàng</label>
                        <input class="form-control TypeId" asp-for="@Model.typeId" />
                        <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Mã: a-z, A-Z, 0-9
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.typeName">Tên ngành hàng</label>
                        <input  class="form-control TypeName" asp-for="@Model.typeName"/>
                        <div class="valid-feedback">
                           Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Không được bỏ trống
                        </div>
                    </div>

                    <button id="btn-add-Type" class="btn btn-gradient-primary me-2">Thêm mới</button>
                    <button type="reset" class="btn btn-light">Làm mới</button>
                </form>

            </div>
        </div>
    </div>
</div>