<div class="content-wrapper">
    <div style="width: 1200px; margin: auto;" class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4></h4>
                <h4 class="card-title">Nhập ngành hàng mới</h4>
                
                <form class="forms-sample" action="/AddType" method="post" id="form-add-type">

                    <div class="form-group">
                        <label for="exampleInputUsername1">Mã ngành hàng</label>
                        <input type="text" class="form-control" id="TypeId" name="TypeId" />
                        <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Error...
                    </div>
                    
                    </div>
                    
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên ngành hàng</label>
                        <input type="text" class="form-control" id="TypeName" name="TypeName"/>
                         <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Error...
                    </div>
                    </div>
                 
                     <button id="btn-add-Type" class="btn btn-gradient-primary me-2">Thêm mới</button>
                    <button type="reset" class="btn btn-light">Làm mới</button>
                </form>

            </div>
        </div>
    </div>
</div>