@using ModelProject.ViewModel;
@model AddColorProduct;

<div class="content-wrapper">
    <div style="width: 1200px; margin: auto;" class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @{
                    switch (Model.messageAdd)
                    {
                        case "AddcolorFalse":
                            <h4 style="color: red;">Thêm màu thất bại</h4>
                            break;
                        default:break;
                    }
                }
                <h4 class="card-title">Nhập thông tin sản phẩm mới</h4>
                @using (Html.BeginForm("AddProductColor", "Product", FormMethod.Post, new {@class="forms-sample", id="form-color" ,enctype = "multipart/form-data" }))
                {
                    
                          @Html.HiddenFor(m => m.ProductId)
                           
                      <div class="form-group">
                        <label >Màu</label>
                          @Html.TextBoxFor(m => m.colorName, new {@class="form-control ColorDescription"})
                       <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Không được bỏ trống
                        </div>
                    </div>
                      
                    <div class="form-group">
                        <label>Chọn hình: </label>
                        <br />
                        @Html.TextBoxFor(m => m.Fileimage, new {@class="form-control fileImage", accept="image/*", multiple="True"})
                        <br />
                        <img id="preview" src="#" width="auto" height="auto" class="hidden" />

                    </div>
                    
                     <button type="submit" id="btn-submit" class="btn btn-gradient-primary me-2">Thêm mới</button>
                    <button type="reset" class="btn btn-light">Làm mới</button>
                }
               <br />
                <a class="btn btn-light" href="/FormAddProductVersion?productId=@Model.ProductId">Kết thúc thêm</a>
            </div>
        </div>
    </div>
</div>