@using CMSWeb.ViewModels.ProductViewModel;
@model AddColorProduct;

<div class="content-wrapper">
    <div style="width: 1200px; margin: auto;" class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 style="color: red;">@ViewBag.mess</h4>
                <h4 class="card-title">Nhập thông tin sản phẩm mới</h4>
                <form class="forms-sample" id="form-color" method="post" enctype="multipart/form-data" action="/AddProductColor">
                    <div class="form-group">
                        <label for="exampleInputUsername1">Mã sản phẩm</label>
                        <input type="text" class="form-control ProductId" readonly asp-for="@Model.ProductId"/>
                    </div>
                    <div class="form-group">
                        <label >Màu</label>
                        <input class="form-control ColorDescription" asp-for="@Model.ProductColorItem.ColorDescription"/>
                       <div class="valid-feedback">
                            Chính xác
                        </div>
                        <div class="invalid-feedback">
                            Không được bỏ trống
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <label>Chọn hình: </label>
                        <br />
                        <input asp-for="@Model.Fileimage" class="form-control" />
                        <br />
                        <img id="preview" src="#" width="auto" height="auto" class="hidden" />

                    </div>
                    
                     <button type="submit" id="btn-submit" class="btn btn-gradient-primary me-2">Thêm mới</button>
                    <button type="reset" class="btn btn-light">Làm mới</button>
                </form>
                <a class="btn btn-light" href="/FormAddProductVersion?productId=@Model.ProductId">Kết thúc thêm</a>
            </div>
        </div>
    </div>
</div>