@using ModelProject.ViewModel;
@model PhotoViewModel;

<div class="content-wrapper">
    <div class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4></h4>
                <h4 class="card-title">Thêm ảnh cho sản phẩm</h4>
                @using (Html.BeginForm("AddPhoto", "Product", FormMethod.Post, new {@class="forms-sample", id="form-Product" ,enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label>Chọn hình: </label>
                        
                        @Html.TextBoxFor(m => m.photos, new {@class="form-control",  accept="image/*", multiple="True", type="file"})
                        @Html.HiddenFor(m => m.ProductVersionId)
                    </div>
                    <button type="submit" id="btn-submit" class="btn btn-gradient-primary me-2">Thêm mới</button>
                    <button type="reset" class="btn btn-light">Làm mới</button>
                }
               

                <div style="margin-top: 40px; margin-bottom: 40px;"></div>

                <div  class="row">
                    @{
                            foreach (var value in Model.informationPhoto)
                            {
                                                  <div class="col-3">
                                            <img style="width: 160px; heigh: 160px;" src="/images//Products/@value.PathImage"/>
                                            <div>
                                            <span>@value.PathImage</span>
                                            <br/>
                                             <a onclick=" return   ConfirmDelete();" asp-route-id="@value.ProductPhotoId" asp-action="DeleteImageProduct" asp-controller="Product" >Xóa hình</a>
                                            </div>
                                           
                                            </div>
                            }
                     
                    }
                </div>
               
            </div>
        </div>  
    </div>
</div>