

<div class="content-wrapper">
    <div style="width: 1200px; margin: auto;" class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4></h4>
                <h4 class="card-title">Thêm ảnh cho sản phẩm</h4>
                <form class="forms-sample" id="form-Product" method="post" enctype="multipart/form-data" action="/AddPhoto">
                    <div class="form-group">
                        <label>Chọn hình: </label>
                        <br />
                        <input type="file" name="ListImage" id="FormFile" accept = "image/*" multiple />
                    </div>
                   
                     <button type="submit" id="btn-submit" class="btn btn-gradient-primary me-2">Thêm mới</button>
                    <button type="reset" class="btn btn-light">Làm mới</button>
                </form>
            </div>
        </div>
    </div>
</div>