@using ModelProject.Models;
@using CMSWeb.Models;
@using ModelProject.ViewModel;
@using X.PagedList;
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core;
@model IPagedList<Customer>;
@{
    
}
<div class="content-wrapper">
   
    <div class="page-header">
        <h4>Thương hiệu</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Thương hiệu</a></li>
                <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
            </ol>
        </nav>
    </div>
 
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
           
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Số điện thoại </th>
                        <th> Tên khách hàng </th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                    <tr>
                        <th> @item.CustomerPhone </th>
                        <th> @item.CustomerName </th>
                        <th><a href="/FormUpdateCustomer?CustomerPhone=@item.CustomerPhone">Xem chi tiết</a></th>
                    </tr>
                        }
                    }
                
                </tbody>
            </table>
            @Html.PagedListPager((IPagedList)Model,page=>Url.Action("ShowCustomer", new{page}), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
    </div>
</div>
    </div>

<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->
<!-- partial -->
