@using ModelProject.ViewModel;
@model List<ListUserViewModel>;
<div class="content-wrapper">
    <div class="page-header">
         
      
        <h4>Sản phẩm</h4>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Sản phâm</a></li>
                <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
            </ol>
        </nav>
    </div>
    <div></div>
    <div style="padding-bottom: 10px;">
        <a class="nav-link" asp-controller="User" asp-action="FormAddUser">
            <button type="button" class="btn btn-outline-danger">
               Thêm nhân viên
            </button>
        </a>
    </div>
     <div class="search-field d-none d-md-block">
              <form class="d-flex align-items-center h-100" action="#">
                <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                        <i class="input-group-text border-0 mdi mdi-magnify"></i>
                    </div>
                    <input type="text" class="form-control bg-transparent border-0" placeholder="Mã nhân viên">
                </div>
            </form>
        </div>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th> Tên nhân viên </th>
                        <th > Vị trí</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <th> <img style="width: 100px;height: 100px; border-radius: 0;" src="@item.UserPhoto"/> </th>
                                <th> @item.UserName </th>
                               
                                        <th>@item.role.GetRoleUser(item.RoleId)</th>
                                       
                                <th> <a href="ShowUserDetail?UserId=@item.UserId">Xem chi tiết </a></th>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

