@using DAL.Models;
@using CMSWeb.ViewModels;
@model BrandsViewModel;

<div class="content-wrapper">
   
    <div class="page-header">
        <h4>Thương hiệu</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Thương hiệu</a></li>
                <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
            </ol>
        </nav>
    </div>
    <div style="padding-bottom: 10px;">
        <a class="nav-link" asp-controller="Home" asp-action="FormBrands">
            <button type="button" class="btn btn-outline-danger">
                Thêm thương hiệu
            </button>
        </a>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
               @switch (Model.message)
                {
                    case "BrandRemoveFales": <div class="alert alert-danger">Xóa thất bại</div> break;
                    case "BrandRemoveTrue": <div class="alert alert-success">Xóa thành công</div> break;
                    default: <div></div> break;
                }
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Logo </th>
                        <th> Mã thương hiệu </th>
                        <th> Tên thương hiệu </th>
                        <th> Trạng thái </th>
                        <th></th>

                    </tr>
                </thead>
                <tbody class="value-brands">
                    @{
                        foreach (var item in Model.ProductBrands)
                        {
                                    <tr>
                                        <td class="Img-Name">
                                            <img id="img-delete" style="width: 100px;height: 100px; border-radius: 0;" src="~/images/@item.BrandPhoto" />
                                        </td>
                                        <td> @item.BrandId </td>
                                        <td>
                                            @item.BrandName
                                        </td>
                                        @{
                                    if (@item.BrandStatus == 1)
                                    {
                                                        <td>Đang kinh doanh</td>
                                    }
                                    else
                                    {
                                                        <td>Tạm ngưng kinh doanh</td>
                                    }
                                        }
                                        <td style=" width:200px;">
                                            <div class="Action">
                                                <a class="btn btn btn-outline-danger" href="/FormUpdateBrands?id=@item.BrandId">
                                                        Cập nhật
                                                </a>

                                                <a class="btn btn-delete-brands btn-outline-danger" href="/RemoveBrands?id=@item.BrandId">Xóa</a>
                                            </div>

                                     </td>
                              </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
    </div>

<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->
<!-- partial -->
